body {
    background-image: url('./assets/bg.png');
    font-family: 'Pangolin', cursive;
    font-size: large;
}

.display_inline {
    display: inline;
    padding: 0.5em;
}

div {   
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 300px;    
  }